.resources {
    background-color: #84603e;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.resources__resource {
    font-weight: 700;
    padding: 10px;
    color: #fcc352;
    border-left: solid 4px black;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

.resources__food {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__population {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__money {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 3 1;
    font-size: calc(1.2vw + 1.2vh);
}

.resources__date--button {
    flex: 1 1;
    background-color: #4f271b;
    color: #fcc352;
    border: solid 4px black;
}

.resources__date--value {
    flex: 1 1;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.buildingsList {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #84603e;
    min-height: 90vh;
    width: calc(6vw + 6vh);
    border: solid 4px black;
    border-top: 0;
}

.building {
    cursor: pointer;
    padding-bottom: 2vh;
    text-align: center;
    color: #fcc352;
    border-bottom: solid 4px black;
}

.building__image {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(5vw + 5vh);
    height: auto;
    cursor: pointer;
    transition: 0.5s;
}

.building__image:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.building__name {
    font-size: calc(1.2vw + 1.2vh);
}

.building__panel {
    z-index: 1;
    position: absolute;
    width: calc(6vw + 6vh);
    min-height: 6vh;
    color: gold;

}

.building__button--yes {
    background-color: #4f271b;
    color: gold;
    min-width: 4vw;
    border: 4px solid black;
}

.building__button--no {
    background-color: #4f271b;
    color: gold;
    min-width: 4vw;
    border: 4px solid black;
}

.board {
    flex: 10 1;
}

.buildArea {

}

.buildArea__image {
    margin: 1%;
    width: calc(6vw + 6vh);
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.daySummary {
    display: none;
    position: absolute;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25vh;
    width: 30%;
    min-height: 10vh;
    font-size: calc(1vw + 1vh);
    border: solid 4px black;
    background-color: #84603e;
    color: gold;
    text-align: center;
}

.noResources {
    display: none;
    position: absolute;
    margin-top: 10vh;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    min-height: 10vh;
    font-size: calc(1vw + 1vh);
    border: solid 4px black;
    background-color: #84603e;
    color: gold;
    text-align: center;
}