.resources {
    background-color: #84603e;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.resources__resource {
    font-weight: 700;
    padding: 10px;
    color: #fcc352;
    border-left: solid 4px black;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

.resources__food {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__population {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__money {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__army {
    flex: 1 1;
    font-size: calc(1vw + 1vh);
}

.resources__date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 3 1;
    font-size: calc(1.2vw + 1.2vh);
}

.resources__date--button {
    flex: 1 1;
    background-color: #4f271b;
    color: #fcc352;
    border: solid 4px black;
}

.resources__date--value {
    flex: 1 1;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.buildingsList {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #84603e;
    min-height: 90vh;
    width: calc(6vw + 6vh);
    border: solid 4px black;
    border-top: 0;
}

.building__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.building {
    position: relative;
    flex: 1 1;
    padding-bottom: 2vh;
    text-align: center;
    color: #fcc352;
    border-bottom: solid 4px black;
}

.building__image {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(5vw + 5vh);
    height: auto;
    cursor: pointer;
    transition: 0.5s;
}

.building__image:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.building__name {
    font-size: calc(1.2vw + 1.2vh);
}

.building__panel {
    position: absolute;
    left: calc(6vw + 6vh);
    z-index: 1;
    display: none;
    flex: 1 1;
    width: calc(6vw + 6vh);
    min-height: 6vh;
    color: #fcc352;

}


.building__button--group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: calc(2vw + 2vh);
    font-size: calc(1vw + 1vh);
}

.building__button--yes {
    background-color: #4f271b;
    color: #fcc352;
    border: 4px solid black;
    min-height: calc(2vw + 2vh);
    margin-top: calc(0.5vw + 0.5vh);
    margin-bottom: calc(1vw + 1vh)
}

.building__button--no {
    background-color: #4f271b;
    color: #fcc352;
    border: 4px solid black;
    min-height: calc(2vw + 2vh);
}

.board {
    flex: 10 1 200px;
}

.buildArea {
    position: relative;
    cursor: pointer;
}

.house {
    margin: calc(0.5vw + 0.5vh);
    float: left;
    position: relative;
}

.farm {
    margin: calc(0.5vw + 0.5vh);
    float: left;
    position: relative;
}

.bank {
    margin: calc(0.5vw + 0.5vh);
    float: left;
    position: relative;
}

.stable {
    margin: calc(0.5vw + 0.5vh);
    float: left;
    position: relative;
}

.barracks {
    margin: calc(0.5vw + 0.5vh);
    float: left;
    position: relative;
}

.buildArea__image {
    cursor: pointer;
    margin: 1%;
    width: calc(6vw + 6vh);
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.daySummary {
    z-index: 1;
    display: none;
    position: absolute;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25vh;
    width: 30%;
    min-height: 10vh;
    font-size: calc(1vw + 1vh);
    border: solid 4px black;
    background-color: #84603e;
    color: #fcc352;
    text-align: center;
}

.noResources {
    z-index: 1;
    display: none;
    position: absolute;
    margin-top: 10vh;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    min-height: 10vh;
    font-size: calc(1vw + 1vh);
    border: solid 4px black;
    background-color: #84603e;
    color: #fcc352;
    text-align: center;
}

.barracks__panel {
    top: -75%;
    left: -75%;
    display: none;
    z-index: 1;
    padding: 2px;
    color: #fcc352;
    background-color: #84603e;
    border: solid 4px black;
    position: absolute;
    min-width: calc(15vw + 15vh);
    font-size: calc(0.8vw + 0.8vh);
}

.barracks__panel--name {
    padding: 10px;
    font-size: calc(1.2vw + 1.2vh);
}

.barracks__panel--archer {
    padding: 3px 10px;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barracks__panel--swordsman {
    padding: 3px 10px;
    margin-top: 1vh;
    min-width: 15vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barracks__panel--label {
    flex: 4 1;
    font-size: calc(0.8vw + 0.8vh);
}

.barracks__panel--input {
    text-indent: calc(0.4vh + 0.4vw);
    border-radius: calc(0.4vh + 0.4vw);
    box-shadow: 5px 5px 10px #4f271b, 5px 5px 10px #4f271b;
    color: #4f271b;
    border: 0;
    background: navajowhite;
    flex: 1 1;
    width: 3vw;
    min-height: calc(1.5vw + 1.5vh);
    font-size: calc(1vw + 1vh);
}

.barracks__panel--button {
    margin-left: 3vw;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(1.5vw + 1.5vh);
    font-size: calc(1vw + 1vh);
}

.barracks__panel--close {
    float: right;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(0.8vw + 0.8vh);
    font-size: calc(0.5vw + 0.5vh);
}

.barracks__panel--recruit {
    font-size: calc(1vw + 1vh);
    padding: 10px;
}

.barracks__panel--buildWaiting {
    padding: 10px;
}

.stable__panel {
    left: -75%;
    top: -75%;
    display: none;
    z-index: 1;
    padding: 2px;
    color: #fcc352;
    background-color: #84603e;
    border: solid 4px black;
    position: absolute;
    min-width: calc(15vw + 15vh);
    font-size: calc(0.8vw + 0.8vh);
}

.stable__panel--name {
    padding: 10px;
    font-size: calc(1.2vh + 1.2vw);
}

.stable__panel--archerCavalry {
    padding: 3px 10px;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stable__panel--cavalry {
    padding: 3px 10px;
    margin-top: 1vh;
    min-width: 15vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stable__panel--label {
    flex: 4 1;
    font-size: calc(0.8vw + 0.8vh);
}

.stable__panel--input {
    text-indent: calc(0.4vh + 0.4vw);
    border-radius: calc(0.4vh + 0.4vw);
    box-shadow: 5px 5px 10px #4f271b, 5px 5px 10px #4f271b;
    color: #4f271b;
    border: 0;
    background: navajowhite;
    flex: 1 1;
    width: 3vw;
    min-height: calc(1.5vw + 1.5vh);
    font-size: calc(1vw + 1vh);
}

.stable__panel--button {
    margin-left: 3vw;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(1.5vw + 1.5vh);
    font-size: calc(1vw + 1vh);
}

.stable__panel--close {
    float: right;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(0.8vw + 0.8vh);
    font-size: calc(0.5vw + 0.5vh);
}

.stable__panel--buildWaiting {
    padding: 10px;
}

.stable__panel--recruit {
    padding: 10px;
    font-size: calc(1vw + 1vh);
}

.armyList {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #84603e;
    min-height: 90vh;
    width: calc(6vw + 6vh);
    border: solid 4px black;
    border-top: 0;
}

.archer {
    padding-bottom: 2vh;
    text-align: center;
    border-bottom: solid 4px black;
}

.archer__image {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(3vw + 3vh);
    height: auto;
}

.archer__number {
    font-weight: 700;
    color: #fcc352;
    font-size: calc(1vw + 1vh);
}

.swordsman {
    padding-bottom: 2vh;
    text-align: center;
    border-bottom: solid 4px black;
}

.swordsman__image {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(3vw + 3vh);
    height: auto;
}

.swordsman__number {
    font-weight: 700;
    color: #fcc352;
    font-size: calc(1vw + 1vh);
}

.cavalryArcher {
    padding-bottom: 2vh;
    text-align: center;
    border-bottom: solid 4px black;
}

.cavalryArcher__image {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(3vw + 3vh);
    height: auto;
}

.cavalryArcher__number {
    font-weight: 700;
    color: #fcc352;
    font-size: calc(1vw + 1vh);
}

.cavalry {
    padding-bottom: 2vh;
    text-align: center;
    border-bottom: solid 4px black;
}

.cavalry__image {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    width: calc(3vw + 3vh);
    height: auto;
}

.cavalry__number {
    font-weight: 700;
    color: #fcc352;
    font-size: calc(1vw + 1vh);
}

.bottom {
    border: 4px solid black;
    min-height: 10vh;
    background-color: #84603e;
}

.build__waiting {
    right: 0;
    top: 0;
    position: absolute;
    max-width: calc(2vw + 2vh);
    height: auto;
}

.bank__panel {
    left: -75%;
    top: -75%;
    display: none;
    z-index: 1;
    padding: 2px;
    color: #fcc352;
    background-color: #84603e;
    border: solid 4px black;
    position: absolute;
    min-width: calc(15vw + 15vh);
    font-size: calc(0.8vw + 0.8vh);
}

.bank__panel--name {
    padding: 10px;
    font-size: calc(1.2vw + 1.2vh);
}

.bank__panel--buildWaiting {
    padding: 10px;
}

.bank__panel--close {
    float: right;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(0.8vw + 0.8vh);
    font-size: calc(0.5vw + 0.5vh);
}

.farm__panel {
    left: -75%;
    top: -75%;
    display: none;
    z-index: 1;
    padding: 2px;
    color: #fcc352;
    background-color: #84603e;
    border: solid 4px black;
    position: absolute;
    min-width: calc(15vw + 15vh);
    font-size: calc(0.8vw + 0.8vh);
}

.farm__panel--name {
    padding: 10px;
    font-size: calc(1.2vw + 1.2vh);
}

.farm__panel--buildWaiting {
    padding: 10px;
}

.farm__panel--close {
    float: right;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(0.8vw + 0.8vh);
    font-size: calc(0.5vw + 0.5vh);
}

.house__panel {
    left: -75%;
    top: -75%;
    display: none;
    z-index: 1;
    padding: 2px;
    color: #fcc352;
    background-color: #84603e;
    border: solid 4px black;
    position: absolute;
    min-width: calc(15vw + 15vh);
    font-size: calc(0.8vw + 0.8vh);
}

.house__panel--name {
    padding: 10px;
    font-size: calc(1.2vw + 1.2vh);
}

.house__panel--buildWaiting {
    padding: 10px;
}

.house__panel--close {
    float: right;
    color: #fcc352;
    border: solid 2px black;
    background-color: #4f271b;
    flex: 1 1;
    min-height: calc(0.8vw + 0.8vh);
    font-size: calc(0.5vw + 0.5vh);
}

.recruitment {
    display: none;
}

.battle {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height:120vh;
}

.battle__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.battle__label {
    padding: calc(1vw + 1vh);
    font-size: calc(2vw + 2vh);
    color: #fcc352;
    text-align: center;
    border: 4px solid black;
}

.battle__info--ally {
    border-left: 4px solid black;
    border-right: 4px solid black;
    flex: 1 1;
}

.battle__info--enemy {
    border-left: 4px solid black;
    border-right: 4px solid black;
    flex: 1 1;
}
.battle__info--middle{
    flex: 2 1;
    align-self: center;
    text-align: center;
}
.battle__info--enemyLabel {
    padding: calc(1vw + 1vh);
    font-size: calc(1.5vw + 1.5vh);
    color: #fcc352;
    text-align: center;
    border-bottom: 4px solid black;
}
.battle__info--allyLabel {
    padding: calc(1vw + 1vh);
    font-size: calc(1.5vw + 1.5vh);
    color: #fcc352;
    text-align: center;
    border-bottom: 4px solid black;
}
.battle__info--button{
    background-color: #4f271b;
    color: #fcc352;
    font-size: calc(1.5vw + 1.5vh);
    border: 4px solid black;
    min-height: calc(4vw + 4vh);
    min-width: 50%;
}
.battle__info--result{
    font-size: calc(2vw + 2vh);
    color: #fcc352;
    text-align: center;
}